.btn-red, .btn-yellow, .btn-green, .btn-purple {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Fjalla One";
  font-weight: 400;
  padding: 10px 20px;
  margin-top: 9%;
}

.btn-red::after, .btn-yellow::after, .btn-green::after, .btn-purple::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 37%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
}

.services__block-red, .services__block-yellow, .services__block-green, .services__block-purple {
  display: block;
  padding: 5% 0 4.5%;
  color: white;
  text-align: center;
  color: white;
  align-self: center;
}

.team .team__title, .contact .contact__title {
  color: white;
  text-transform: uppercase;
}
.team .team__title .title__big, .contact .contact__title .title__big {
  font-size: 29px;
}
.team .team__title .title__litle, .contact .contact__title .title__litle {
  font-size: 21px;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.team .team__title .title__litle::before, .contact .contact__title .title__litle::before {
  display: none;
  content: "";
  position: absolute;
  top: 12px;
  left: -51%;
  width: 37%;
  border-bottom: 1px solid #387d89;
}
@media screen and (min-width: 760px) {
  .team .team__title .title__litle::before, .contact .contact__title .title__litle::before {
    display: block;
  }
}
.team .team__title .title__litle::after, .contact .contact__title .title__litle::after {
  display: none;
  content: "";
  position: absolute;
  top: 12px;
  right: -51%;
  width: 37%;
  border-bottom: 1px solid #387d89;
}
@media screen and (min-width: 760px) {
  .team .team__title .title__litle::after, .contact .contact__title .title__litle::after {
    display: block;
  }
}

.contact .contact__form .form__name, .contact .contact__form .form__email, .contact .contact__form .form__message {
  background: #245963;
  border: 1px solid #387d89;
}

.btn-red {
  background: #e84c3d;
  position: relative;
  margin-bottom: 15px;
}
.btn-red::after {
  border-color: #e84c3d transparent transparent transparent;
}

.services__block-red {
  background: #e84c3d;
}

.team__col-red .team__inner {
  border-top: 7px solid #e84c3d;
  background: #245963;
  padding: 43px 0 50px;
}

.btn-yellow {
  background: #fdbd1f;
  position: relative;
  margin-bottom: 15px;
}
.btn-yellow::after {
  border-color: #fdbd1f transparent transparent transparent;
}

.services__block-yellow {
  background: #fdbd1f;
}

.team__col-yellow .team__inner {
  border-top: 7px solid #fdbd1f;
  background: #245963;
  padding: 43px 0 50px;
}

.btn-green {
  background: #1bbc9b;
  position: relative;
  margin-bottom: 15px;
}
.btn-green::after {
  border-color: #1bbc9b transparent transparent transparent;
}

.services__block-green {
  background: #1bbc9b;
}

.team__col-green .team__inner {
  border-top: 7px solid #1bbc9b;
  background: #245963;
  padding: 43px 0 50px;
}

.btn-purple {
  background: #9b58b5;
  position: relative;
  margin-bottom: 15px;
}
.btn-purple::after {
  border-color: #9b58b5 transparent transparent transparent;
}

.services__block-purple {
  background: #9b58b5;
}

.team__col-purple .team__inner {
  border-top: 7px solid #9b58b5;
  background: #245963;
  padding: 43px 0 50px;
}

.icon-pencil, .icon-message, .icon-crown, .icon-user, .icon-mail {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
}
.icon-pencil::after, .icon-message::after, .icon-crown::after, .icon-user::after, .icon-mail::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: url(../images/svg-icons-services-01.svg) no-repeat;
  background-size: 60px;
}

.icon-pencil::after {
  background-position-y: 0px;
}

.icon-message::after {
  background-position-y: -62px;
}

.icon-crown::after {
  background-position-y: -124px;
}

.icon-user::after {
  background-position-y: -186px;
}

.icon-mail::after {
  background-position-y: -248px;
}

body {
  background: #29606b;
  font-size: 16px;
  color: #ffffff;
  font-family: "Fjalla One", helvetica, sans-serif;
  line-height: 1.3;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  background: transparent;
  border: 1px solid #2a6c78;
  border-top: none;
  padding: 26px 2.5% 20px;
  width: 100%;
  position: relative;
  z-index: 25;
}
.header .header__logo {
  display: inline;
  color: white;
  font-size: 25px;
}
.header .header__menu {
  display: inline-block;
  float: right;
  position: relative;
  right: 0;
  top: 0;
}
.header .header__menu .menu__btn {
  display: block;
  position: relative;
  padding: 25px;
  right: -7px;
  top: -36px;
  cursor: pointer;
}
.header .header__menu .menu__btn img {
  width: 47px;
  height: auto;
}
.header .header__menu .menu__btn:hover + .menu__list {
  display: block;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
@media screen and (min-width: 720px) {
  .header .header__menu .menu__btn {
    display: none;
  }
}
.header .header__menu .menu__list {
  display: none;
  padding: 16px 0 0;
  margin: 0;
  position: absolute;
  right: -15px;
  top: 36px;
}
.header .header__menu .menu__list:hover {
  display: block;
}
@media screen and (min-width: 720px) {
  .header .header__menu .menu__list {
    display: inline-block;
    padding: 4px 0 0;
    top: 0;
    right: 0;
    position: relative;
    background: transparent;
  }
}
.header .header__menu .menu__list .list__item {
  display: block;
  font-size: 20px;
  border: 1px solid #2a6c78;
  background: #29606b;
}
.header .header__menu .menu__list .list__item .item__a {
  color: white;
  display: block;
  padding: 15px 40px 15px 40px;
}
.header .header__menu .menu__list .list__item:hover {
  background: #4db5ca;
}
@media screen and (min-width: 720px) {
  .header .header__menu .menu__list .list__item {
    display: inline-block;
    font-size: 17px;
    border: none;
    background: transparent;
  }
  .header .header__menu .menu__list .list__item:hover {
    background: transparent;
  }
  .header .header__menu .menu__list .list__item .item__a {
    padding: 0 0 0 35px;
  }
}

.promo {
  padding: 16% 0 15.7%;
  background: url(../uploads/bg-banner.jpg) 50% 88% no-repeat;
  text-align: center;
  color: white;
  margin-top: -79px;
}
.promo .promo__title {
  text-transform: uppercase;
}
.promo .promo__title .title__big {
  font-size: 41px;
  letter-spacing: 5px;
  padding-bottom: 15px;
}
.promo .promo__title .title__little {
  font-size: 29px;
  letter-spacing: 6px;
}
.promo .promo__title .btn__transparent {
  font-size: 17px;
  color: white;
  margin-top: 24px;
  display: inline-block;
  padding: 10px 32px;
  border: 2px solid white;
  border-bottom: none;
  position: relative;
}
.promo .promo__title .btn__transparent .btn--triangle {
  display: block;
  position: absolute;
  bottom: -10px;
  transform: rotate(45deg);
  left: 57px;
  border: 2px solid white;
  padding: 10px;
  border-left: none;
  border-top: none;
}
.promo .promo__title .btn__transparent::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 2px solid white;
  width: 40%;
}
.promo .promo__title .btn__transparent::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 2px solid white;
  width: 40%;
}

.services {
  margin-top: -6%;
  display: flex;
  flex-direction: row;
}
.services .services__title {
  font-size: 29px;
  text-transform: uppercase;
  margin: 20px 0px 4px;
}
.services .services__text {
  font-size: 16px;
  font-family: "SourceSansPro";
  padding: 0 45px;
}

.team {
  padding-top: 5.6%;
  text-align: center;
}
.team .team__title {
  padding-bottom: 5.4%;
}
.team .col__avatar {
  display: inline-block;
  background-color: #FFF;
  background: url(../uploads/team-avatar-1.jpg) no-repeat;
  border-radius: 50%;
  width: 181px;
  height: 181px;
}
.team .col__text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #76b2be;
  margin-top: 8%;
  padding: 0 20px;
  line-height: 25px;
}

.contact {
  text-align: center;
  padding: 5.7% 0;
}
.contact .contact__title .icon-mail {
  margin-bottom: 23px;
}
.contact .contact__form {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  padding: 3% 0;
}
.contact .contact__form .form__name {
  width: 100%;
  max-width: 270px;
  padding: 12px 10px;
  float: left;
}
.contact .contact__form .form__email {
  width: 100%;
  max-width: 270px;
  padding: 12px 10px;
  float: right;
}
.contact .contact__form .form__message {
  width: 100%;
  padding: 52px 10px;
  margin: 31px 0 5px;
}
.contact .contact__form .form__btn {
  font-size: 15px;
  color: white;
  margin-top: 24px;
  display: inline-block;
  padding: 10px 32px;
  border: 2px solid #387d89;
  border-bottom: none;
  position: relative;
  background: #245963;
  text-transform: uppercase;
}
.contact .contact__form .form__btn .btn--triangle {
  display: block;
  position: absolute;
  bottom: -10px;
  transform: rotate(45deg);
  left: 40%;
  border: 2px solid #387d89;
  padding: 9px;
  border-left: none;
  border-top: none;
  background: #245963;
}
.contact .contact__form .form__btn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 1px solid #387d89;
  width: 40%;
}
.contact .contact__form .form__btn::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 1px solid #387d89;
  width: 40%;
}
